header{
    display: inline;
    width: 1600px;
    max-width: 100%;
}
.flex_heading{

}
.container{
    display: flex;
    /*
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
    align-items: baseline;

    flex-direction: column; 
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;
    */
    background-color: bisque;
    min-height: 100vh;
    min-width: 100vh;
    width: 1152px;
    height: 700px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 5px;

}
.block_one{
    background-color: rgb(255, 60, 0);
    width: 468px;
    height: 160px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: flex-end;
}
.block_two{
    background-color: rgb(255, 60, 0);
    width: 468px;
    height: 160px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.block_three{
    background-color: rgb(255, 60, 0);
    width: 468px;
    height: 160px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }
.block_four{
    background-color: rgb(255, 60, 0);
    width: 468px;
    height: 160px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.block_five{
    background-color: rgb(255, 60, 0);
    width: 468px;
    height: 160px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.block_six{
    background-color: rgb(255, 60, 0);
    width: 468px;
    height: 160px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.square{
    background-color: blueviolet;
    width: 68px;
    height: 68px;
    margin: 5px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    color: aliceblue;
    text-align: center;
    font-size: 12px;
    line-height: 76px;
}
.odd{
    background-color: blueviolet;
    width: 68px;
    height: 68px;
    margin: 5px;
    align-self: flex-end;
}
.large{
    flex-wrap: wrap;
    /*
    flex-wrap: nowrap;
    flex-wrap: wrap-reverse;
    */
    min-height: 60%;
}
.width_large{
    flex-wrap: wrap;
    min-width: 30%;
}
.small{
    flex-wrap: wrap;
    max-width: 60px;
}

/*circles*/

.circles{
    display: flex;
    /*
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
    align-items: baseline;

    flex-direction: column; 
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;
    */
    background-color: seagreen;
    min-height: 100vh;
    min-width: 100vh;
    width: 1152px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    max-width: 880px;
    flex-basis: content;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;


}
.box_one{
    background-color: navy;
    width: 273px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
}

.box_two{
    background-color: skyblue;
    width: 273px;
    height: 220px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.box_three{
    background-color: navy;
    width: 273px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box_four{
    background-color: skyblue;
    width: 273px;
    height: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box_five{
    background-color: navy;
    width: 273px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: aqua;
    padding: 15px;
    margin: 15px;
    flex-wrap: wrap;
}